{
    "client_id": "YOUR_CLIENT_ID",
    "client_secret": "YOUR_CLIENT_SECRET",
    "tenant_id": "YOUR_TENANT_ID",
    "start_date": "2020-05-01T00:00:00Z",
    "user_agent": "tap-ms-teams <api_user_email@example.com>"
}